
/* .contents .des.navy {background:#303958;}
.contents .des.pink {background:#ffd1ea;}
.contents .des.blue {background:#0086ff;}
.contents .des.skyblue {background:#e7f0ff;}
.contents .des.beige {background:#f1ede6;}
.contents .des.bluegreen {background:#d9ecea;}
.contents .des.gray {background:#aaa;}
.contents .des.green {background:#2d8451;} */


.contents .des {display:flex; justify-content:space-between; padding:30px; box-sizing:border-box; border-bottom:1px solid #f0f0f0;}
.contents .des h1 {display: inline-block;font-size: 2rem; line-height: 2.5rem; color: #4876ef; font-family: GmarketSans;font-weight: 500;}
.contents .des h1 span {display:inline-block; width: 10px;height: 10px; background: #ff0054;border-radius: 100%;}
.contents .des ul {display:flex; align-items:center; gap:1rem;}
.contents .des li {border-radius:30px; padding:5px 15px; border:1px solid #ddd;}

.contents .visual {margin-top:50px;}
.contents .visual .visual_wrap {position:relative;width: 70%;margin:0 auto;overflow:hidden;}

.contents .visual .visual_wrap .title {justify-content:space-between; align-items:center;}
.contents .visual .visual_wrap h1 {font-size:42px;}
.contents .visual .visual_wrap ul li {display:inline-block; margin-left:10px;}
.contents .visual .visual_wrap ul li:first-child {margin-left:0;}
.contents .visual .visual_wrap ul li a {display:block; font-size:18px; border:1px solid #333; color:#333; padding:10px 20px;}
.contents .visual .visual_wrap ul li a:hover {color:#fff; background:#333; transition:.3s;}
.contents .visual .visual_wrap  img {max-width: 100%; display: block;margin: 50px auto;}



@media all and (max-width:920px){

.contents .des {display:block;}
.contents .des ul {flex-wrap:wrap; margin-top: 20px;}
.contents .des li {padding: 5px 10px; width: calc(100%/2 - 2rem);text-align: center;font-size: .9rem;}
.contents .visual .visual_wrap {width:100%;}
.contents .visual .visual_wrap h1 {font-size:2rem;}
.contents .visual .visual_wrap ul li a {font-size:1rem;}



}