
.contents .des.navy {background:#303958;}
.contents .des.pink {background:#ffd1ea;}
.contents .des.blue {background:#0086ff;}
.contents .des.skyblue {background:#e7f0ff;}
.contents .des.beige {background:#f1ede6;}
.contents .des.bluegreen {background:#d9ecea;}
.contents .des.gray {background:#aaa;}
.contents .des.green {background:#2d8451;}


.contents .des h1 {display:inline-block; font-size:52px; line-height:48px;}
.contents .des h1 span {display:inline-block; width: 10px;height: 10px; background: #ff0054;border-radius: 100%;}

.contents .des ul {position:absolute; top:50%;}
.contents .des ul li {display:inline-block;padding:10px 20px;background:#fff;border-radius:20px;margin:5px;width: 30%;text-align: center; color:#333; background:#fff;}
.contents .des.pink li {width:auto;}

.contents .visual {width: 80%;margin-top:50px;}
.contents .visual .visual_wrap {position:relative;width: 70%;margin:0 auto;overflow:hidden;}

.contents .visual .visual_wrap h1 {display:inline-block; font-size:42px;}
.contents .visual .visual_wrap ul {position:absolute;right: 90px;top: 0px;}
.contents .visual .visual_wrap ul li {display:inline-block; margin-left:10px;}
.contents .visual .visual_wrap ul li:first-child {margin-left:0;}
.contents .visual .visual_wrap ul li a {display:block; font-size:18px; border:1px solid #333; color:#333; padding:10px 20px;}
.contents .visual .visual_wrap ul li a:hover {color:#fff; background:#333; transition:.3s;}
.contents .visual .visual_wrap  img {max-width: 100%; display: block;margin: 50px auto;}
