
.close {display:flex; justify-content:flex-end; font-size:5rem; color:#fff;}
.contents {position:relative; padding:2rem 0;}

.wrapper {max-width:1700px; margin:0 auto;}

.contents .monitor {display:flex; justify-content: space-between; margin-top:3rem;}
.contents .monitor img {max-width:800px;}

.contents .inform {width:calc(100% - 1000px);}
.contents .inform h1 {color:#fff; display:flex; align-items:center;}
.contents .inform h1 a {display:flex; justify-content:center; align-items:center; margin-left:1rem; width:60px; height:60px; border-radius:100%; background:#fff; color:#111;}
.contents .inform h1 a i {font-size:1.5rem;}
.contents .inform dl {color:#fff;margin-top: 2rem;}
.contents .inform dl dt {font-weight:bold;font-size: 1.3rem;}
.contents .inform dl dd {font-size: 1.1rem;opacity:.7;margin-top:10px;}

.contents .color {padding:3rem 0; background:#f7f8ff; margin-top:3rem;}


a.list {display:block; max-width:180px; margin:50px auto; padding:15px 25px;color:#333; background:#fff; border-radius:50px; font-size:1.1rem;}
a.list:hover {background:#333; color:#fff; transition:.3s;}


@media all and (max-width:1200px){

.contents .title_wrap {flex-wrap:wrap;}
.contents .title h1 {font-weight:800; font-size:1.8rem;}
.title_wrap a {font-size:.9rem;}

}



@media all and (max-width:768px){

.contents .title .inform {flex-wrap:wrap; gap:.5rem;}
.contents .title .inform li {font-size:.9rem; padding:5px 10px; margin-left:0; box-sizing:border-box; text-align:center;}
/* .contents .title_wrap {display:block;} */

.contents .title h1 {width:calc(100% - 90px);font-size:1.6rem;}
.title_wrap a {position:relative; border-radius:100%; width:70px; height:70px; padding:0;}
.title_wrap a span {display:none;}
.title_wrap a i {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-size:1.5rem; margin-right:0;}
.title_wrap .sort {flex-wrap:wrap; gap:.5rem;}

.cont_group {padding:30px;}
.cont_group .monitor {max-width:100%;}
.cont_group ul li {margin-top:50px;}


}


@media all and (max-width:420px){

.contents .title h1 {font-size:1.3rem; width:calc(100% - 70px);}
.title_wrap a {width:55px; height:55px;}
.title_wrap a i {font-size:1.2rem;}
a.list {font-size:1rem;}
}