/* .tab_menu {display:flex; justify-content:space-between; padding:30px; box-sizing:border-box; border-bottom:1px solid #f0f0f0;}
.tab_menu h1 {display: inline-block;font-size: 2rem; line-height: 2.5rem; color: #4876ef; font-family: GmarketSans;font-weight: 500;}
.tab_menu h1 span {display:inline-block; width: 10px;height: 10px; background: #ff0054;border-radius: 100%;}
.tab_menu ul {display:flex;} */
.tab_menu {flex-wrap:wrap;}
.tab_menu ul li {margin-left:1rem; min-width:200px;}
.tab_menu ul li:first-child {margin-left:0;}
.tab_menu ul li a {display: block;padding: 15px; font-weight:bold; text-align:center; font-size:1.2rem; border-radius:5px; color:#5c667b;}
.tab_menu ul li:hover a,.tab_menu ul li.active a {background:#f4f6fa; color: #4876ef; transition:.5s;}
.tab_menu ul li a i {margin-right:5px;}

.portfolio .tab_contents_s ul {flex-wrap:wrap; padding:5rem 0;}
.portfolio .tab_contents_s ul li {position:relative; width: calc(100%/3 - 2rem); padding:3rem 0; top:0; transition: all .2s;}
.portfolio .tab_contents_s ul li:hover {top:-10px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
.portfolio .tab_contents_s ul li a {display:block; text-align:center; outline:none;}
.portfolio .tab_contents_s ul li a img {max-width:80%;}

.portfolio .tab_contents_s ul li a h2 {margin-top:20px; font-size:1.1rem; color:#444; font-family:'GmarketSans'; font-weight:lighter;}

@media all and (max-width:1200px){
.portfolio .tab_contents_s ul {justify-content:center;}
}

@media all and (max-width:920px){

.tab_menu ul {margin-top:30px;}
.tab_menu ul li a {font-size:1.1rem;}


.portfolio .tab_contents_s ul li {width:calc(100%/2 - 2rem); padding:2rem 0;}
.portfolio .tab_contents_s ul li a h2 {font-size:1rem;}


}
