
/*ÅÇ¸Þ´º*/
.tab_menu {flex-wrap:wrap;}
.tab_menu ul {justify-content: center;}
.tab_menu ul li {margin-left:1rem; min-width:150px;}
.tab_menu ul li:first-child {margin-left:0;}
.tab_menu ul li a {display: block;padding: 15px; font-weight:bold; text-align:center; font-size:1rem; border-radius:30px;}
.tab_menu ul li:hover a {background:#f7f7f7; color:#333; transition:.3s;}
.tab_menu ul li.active a {background:#333; color: #fff; transition:.3s;}
.tab_menu ul li a i {margin-right:5px;}

.tab_contents_s {margin-top:50px;}
.tab_contents_s ul {display:flex; gap:5rem 3rem; flex-wrap:wrap; justify-content:center;}
.tab_contents_s ul li {width:calc(100%/3 - 3rem); cursor:pointer;  transition:.5s;}
.tab_contents_s ul li .thumb {max-height:400px; overflow:hidden;}
.tab_contents_s ul li .thumb .img {position:relative; background:#f7f7f7; min-height:400px; padding:50px; transition:.5s;}
.tab_contents_s ul li .thumb .img img {position:relative; width:100%; height:100%; object-fit:cover; box-shadow:0px 0px 20px #d4d4d4;}
.tab_contents_s ul li .inform {justify-content:space-between;  margin-top:30px;}
.tab_contents_s ul li .inform span {position:relative; display:block; text-align:center; font-weight:600; color:#000; font-size:1.2rem;}
.tab_contents_s ul li .inform span:last-child {font-size:1rem; color:#999;}
.tab_contents_s ul li .inform span:first-child:before {content:""; display:block; position:absolute; bottom:-1px; width:0; height:1px; background:#333; transition:.3s ease-in-out;}
.tab_contents_s ul li:hover .inform span:first-child:before {width:100%;}

.tab_contents_s ul li.bluegreen .img:before {content:""; width:100%; height:100%; position:absolute; top:0; left:0; display:block; background:linear-gradient(90deg, rgba(0,102,177,1) 0%, rgba(113,191,69,1) 100%); transition:.5s; opacity:0;}
.tab_contents_s ul li.bluegreen:hover .img:before {opacity:1;}
.tab_contents_s ul li:hover .img img {box-shadow:none;}
.tab_contents_s ul li.green:hover .img {background:#2d8451;}
.tab_contents_s ul li.navy:hover .img {background:#313959;}
.tab_contents_s ul li.purple:hover .img {background:#a90056;}
.tab_contents_s ul li.orange:hover .img {background: #ea5514}
.tab_contents_s ul li.blue:hover .img {background:#2280d7}
.tab_contents_s ul li.grey:hover .img {background:#333}
.tab_contents_s ul li.red:hover .img {background:#ce171f;}
.tab_contents_s ul li.brown:hover .img {background:#928270;}


@media all and (max-width:1200px){


.tab_contents_s ul li {width:calc(100%/2 - 3rem);}



}


@media all and (max-width:920px){




}


@media all and (max-width:760px){


.tab_contents_s ul {gap:2rem 0;}
.tab_contents_s ul li {width:100%;}
.tab_contents_s ul li .thumb {max-height:300px;}
.tab_contents_s ul li .inform {flex-direction:column;}
.tab_contents_s ul li:hover .inform span:first-child:before {width:0%;}


}
